.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body 
{
  background-image: linear-gradient(rgb(211, 237, 247),pink,rgb(245, 239, 239));
  background-repeat: no-repeat;
  height: 100vh;
}
.center
{
  display: flex;
  justify-content: space-evenly;
}
button 
{
  width: 400px;
  height: 70px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 35px;
  background-color: rgb(185, 241, 222);
}
#btn1:hover,#btn2:hover
{
  background-color: aqua;
}
.head 
{
  display: flex;
  justify-content: center;
  font-size: 50px;
  text-shadow: 5px 5px 5px cyan;
}
.left
{
  width: 550px;
  height: 270px;
  background-color: cyan;
  border: 2px solid black;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  bottom: 100px;
  left: 100px;
}
.right
{
  width: 550px;
  height: 270px;
  background-color: rgb(244, 81, 244);
  border: 2px solid black;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  bottom: 100px;
  right: 100px;
}
#p2
{
  color: blue;
}